.spacer{
    margin-right: 10px;
}

.container{
    max-width: 1400px;
    margin: 0 auto;
}

.search-container{
    display: flex;
    position: absolute;
    right: 20px;
    top: 5px;
    width: 500px;
}